## Mehrshad Saadatinia - 97243039

In [478]:
import pandas as pd
import sqlite3 as sql
import math

In [479]:
try:
    conn1 = sql.connect('database.sqlite')
    print(conn1)
except sql.Error as error:
    print('connection error occurred')

<sqlite3.Connection object at 0x000001B38BA4AA80>

In [480]:
#viewing tables in each database
cursor1 = conn1.cursor() #football

### Question 1 : football analysis

In [491]:
#cursor1 : football database

#one
cursor1.execute("SELECT name FROM sqlite_master WHERE type='table';")
tables_tups = cursor1.fetchall()
print("one) tables names: ",[t[0] for t in tables_tups])
print("\n-----------------------------------------------------------------------------------\n")

#two
country_df = pd.read_sql('SELECT name FROM Country', conn1)
print('two) list of countries: ', [c[0] for c in country_df.values.tolist()])
print("\n-----------------------------------------------------------------------------------\n")

#three
league_country_df = pd.read_sql('SELECT Country.name AS country_name, League.name AS league_name \
FROM League INNER JOIN Country ON League.country_id=Country.id', conn1)
print('three) list of countries & their leagues:\n', league_country_df) #drop ids
print("\n----------------------------------------------------------------------------------\n")

#four
teams_sorted_df = pd.read_sql('SELECT team_long_name FROM Team ORDER BY team_long_name ASC;', conn1)
#sorts alphanumerically , so if a name starts with number, goes first
print('four) list of teams sorted alphanumerically:')
for team in teams_sorted_df.values.tolist():
    print(team[0])

one) tables names:  ['sqlite_sequence', 'Player_Attributes', 'Player', 'Match', 'League', 'Country', 'Team', 'Team_Attributes']

-----------------------------------------------------------------------------------

two) list of countries:  ['Belgium', 'England', 'France', 'Germany', 'Italy', 'Netherlands', 'Poland', 'Portugal', 'Scotland', 'Spain', 'Switzerland']

-----------------------------------------------------------------------------------

three) list of countries & their leagues:
    country_name               league_name
0       Belgium    Belgium Jupiler League
1       England    England Premier League
2        France            France Ligue 1
3       Germany     Germany 1. Bundesliga
4         Italy             Italy Serie A
5   Netherlands    Netherlands Eredivisie
6        Poland        Poland Ekstraklasa
7      Portugal  Portugal Liga ZON Sagres
8      Scotland   Scotland Premier League
9         Spain           Spain LIGA BBVA
10  Switzerland  Switzerland Super League

----------------------------------------------------------------------------------

four) list of teams sorted alphanumerically:
1. FC Kaiserslautern
1. FC Köln
1. FC Nürnberg
1. FSV Mainz 05
AC Ajaccio
AC Arles-Avignon
AC Bellinzona
ADO Den Haag
AJ Auxerre
AS Monaco
AS Nancy-Lorraine
AS Saint-Étienne
AZ
Aberdeen
Académica de Coimbra
Ajax
Amadora
Angers SCO
Arka Gdynia
Arsenal
Aston Villa
Atalanta
Athletic Club de Bilbao
Atlético Madrid
BSC Young Boys
Bari
Bayer 04 Leverkusen
Beerschot AC
Birmingham City
Blackburn Rovers
Blackpool
Boavista FC
Bologna
Bolton Wanderers
Borussia Dortmund
Borussia Mönchengladbach
Bournemouth
Brescia
Burnley
CA Osasuna
CD Nacional
CD Numancia
CD Tenerife
CF Os Belenenses
CS Marítimo
Cagliari
Cardiff City
Carpi
Catania
Celtic
Cesena
Chelsea
Chievo Verona
Club Brugge KV
Cracovia
Crystal Palace
Córdoba CF
DSC Arminia Bielefeld
De Graafschap
Dijon FCO
Dundee FC
Dundee United
Dunfermline Athletic
ES Troyes AC
Eintracht Braunschweig
Eintracht Frankfurt
Elche CF
Empoli
En Avant de Guingamp
Estoril Praia
Everton
Excelsior
FC Aarau
FC Arouca
FC Augsburg
FC Barcelona
FC Basel
FC Bayern Munich
FC Dordrecht
FC Energie Cottbus
FC Groningen
FC Ingolstadt 04
FC Lausanne-Sports
FC Lorient
FC Luzern
FC Metz
FC Nantes
FC Paços de Ferreira
FC Penafiel
FC Porto
FC Schalke 04
FC Sion
FC Sochaux-Montbéliard
FC St. Gallen
FC St. Pauli
FC Thun
FC Twente
FC Utrecht
FC Vaduz
FC Volendam
FC Zürich
FCV Dender EH
Falkirk
Feirense
Feyenoord
Fiorentina
Fortuna Düsseldorf
Frosinone
Fulham
GFC Ajaccio
GKS Bełchatów
Genoa
Getafe CF
Gil Vicente FC
Girondins de Bordeaux
Go Ahead Eagles
Granada CF
Grasshopper Club Zürich
Grenoble Foot 38
Górnik Łęczna
Hamburger SV
Hamilton Academical FC
Hannover 96
Heart of Midlothian
Hellas Verona
Heracles Almelo
Hertha BSC Berlin
Hibernian
Hull City
Hércules Club de Fútbol
Inter
Inverness Caledonian Thistle
Jagiellonia Białystok
Juventus
KAA Gent
KAS Eupen
KRC Genk
KSV Cercle Brugge
KSV Roeselare
KV Kortrijk
KV Mechelen
KV Oostende
KVC Westerlo
Karlsruher SC
Kilmarnock
Korona Kielce
LOSC Lille
Lazio
Le Havre AC
Le Mans FC
Lecce
Lech Poznań
Lechia Gdańsk
Legia Warszawa
Leicester City
Leixões SC
Levante UD
Lierse SK
Liverpool
Livorno
Lugano
Manchester City
Manchester United
Middlesbrough
Milan
Montpellier Hérault SC
Moreirense FC
Motherwell
Málaga CF
N.E.C.
NAC Breda
Napoli
Naval 1° de Maio
Neuchâtel Xamax
Newcastle United
Norwich City
Novara
OGC Nice
Odra Wodzisław
Olympique Lyonnais
Olympique de Marseille
Oud-Heverlee Leuven
P. Warszawa
PEC Zwolle
PSV
Palermo
Paris Saint-Germain
Parma
Partick Thistle F.C.
Pescara
Piast Gliwice
Podbeskidzie Bielsko-Biała
Pogoń Szczecin
Polonia Bytom
Polonia Bytom
Portimonense
Portsmouth
Queens Park Rangers
RAEC Mons
RC Celta de Vigo
RC Deportivo de La Coruña
RC Lens
RC Recreativo
RCD Espanyol
RCD Mallorca
RKC Waalwijk
RSC Anderlecht
Racing Santander
Rangers
Rayo Vallecano
Reading
Real Betis Balompié
Real Madrid CF
Real Sociedad
Real Sporting de Gijón
Real Valladolid
Real Zaragoza
Reggio Calabria
Rio Ave FC
Roda JC Kerkrade
Roma
Ross County FC
Royal Excel Mouscron
Royal Excel Mouscron
Ruch Chorzów
S.C. Olhanense
SC Bastia
SC Beira Mar
SC Braga
SC Cambuur
SC Freiburg
SC Heerenveen
SC Paderborn 07
SD Eibar
SL Benfica
SM Caen
SV Darmstadt 98
SV Werder Bremen
SV Zulte-Waregem
Sampdoria
Sassuolo
Servette FC
Sevilla FC
Siena
Sint-Truidense VV
Southampton
SpVgg Greuther Fürth
Sparta Rotterdam
Sporting CP
Sporting Charleroi
Sporting Lokeren
St. Johnstone FC
St. Mirren
Stade Brestois 29
Stade Rennais FC
Stade de Reims
Standard de Liège
Stoke City
Sunderland
Swansea City
TSG 1899 Hoffenheim
Termalica Bruk-Bet Nieciecza
Tondela
Torino
Tottenham Hotspur
Toulouse FC
Trofense
Tubize
UD Almería
UD Las Palmas
US Boulogne Cote D'Opale
Udinese
Uniao da Madeira
União de Leiria, SAD
VVV-Venlo
Valencia CF
Valenciennes FC
VfB Stuttgart
VfL Bochum
VfL Wolfsburg
Villarreal CF
Vitesse
Vitória Guimarães
Vitória Setúbal
Waasland-Beveren
Watford
West Bromwich Albion
West Ham United
Widzew Łódź
Widzew Łódź
Wigan Athletic
Willem II
Wisła Kraków
Wolverhampton Wanderers
Xerez Club Deportivo
Zagłębie Lubin
Zawisza Bydgoszcz
Évian Thonon Gaillard FC
Śląsk Wrocław

In [489]:
#five
spain_matches_df = pd.read_sql(
    """SELECT Country.name AS country_name, League.name AS league_name, 
    home_team_goal, away_team_goal, date, season
    FROM
      Country
         INNER JOIN League
            ON Country.id = League.country_id
            INNER JOIN Match ON League.id = Match.league_id
    WHERE Country.name='Spain'
    """
    , conn1)

print('\n five) list (dataframe) of matches in Spain along with other columns: \n')
spain_matches_df

 five) list (dataframe) of matches in Spain along with other columns:

,country_name,league_name,home_team_goal,away_team_goal,date,season
0,Spain,Spain LIGA BBVA,3,0,2008-08-30 00:00:00,2008/2009
1,Spain,Spain LIGA BBVA,1,1,2008-08-31 00:00:00,2008/2009
2,Spain,Spain LIGA BBVA,2,1,2008-08-31 00:00:00,2008/2009
3,Spain,Spain LIGA BBVA,1,0,2008-08-31 00:00:00,2008/2009
4,Spain,Spain LIGA BBVA,1,1,2008-08-31 00:00:00,2008/2009
...,...,...,...,...,...,...
3035,Spain,Spain LIGA BBVA,2,1,2015-10-25 00:00:00,2015/2016
3036,Spain,Spain LIGA BBVA,2,0,2015-10-24 00:00:00,2015/2016
3037,Spain,Spain LIGA BBVA,3,0,2015-10-26 00:00:00,2015/2016
3038,Spain,Spain LIGA BBVA,1,1,2015-10-24 00:00:00,2015/2016
3039,Spain,Spain LIGA BBVA,3,0,2015-10-23 00:00:00,2015/2016

In [503]:
print('\n six) data grouped by season and league\n')
pd.read_sql("""
SELECT 
  Country.name AS country_name, League.name AS league_name, Match.season, 
  COUNT(DISTINCT home_team_api_id) AS distinct_home_teams,
  AVG(home_team_goal) AS average_home_goals,
  AVG(away_team_goal) AS average_away_goals,
  AVG(ABS(home_team_goal - away_team_goal)) AS average_goal_diff, 
  AVG(home_team_goal+away_team_goal) AS average_goal_sum,
  home_team_goal + home_team_goal AS goal_sum
  FROM Country 
    INNER JOIN League 
        ON Country.id = League.country_id 
        INNER JOIN Match ON League.id = Match.league_id
    WHERE Country.name='Spain' OR Country.name='Germany' OR
    Country.name='France' OR Country.name='Italy' OR Country.name='England' 
    GROUP BY Match.season, League.name;
""", conn1)

 six) data grouped by season and league

,country_name,league_name,season,distinct_home_teams,average_home_goals,average_away_goals,average_goal_diff,average_goal_sum,goal_sum
0,England,England Premier League,2008/2009,20,1.400000,1.078947,1.305263,2.478947,2
1,France,France Ligue 1,2008/2009,20,1.286842,0.971053,1.094737,2.257895,4
2,Germany,Germany 1. Bundesliga,2008/2009,18,1.699346,1.222222,1.431373,2.921569,4
3,Italy,Italy Serie A,2008/2009,20,1.521053,1.078947,1.284211,2.600000,2
4,Spain,Spain LIGA BBVA,2008/2009,20,1.660526,1.236842,1.381579,2.897368,6
5,England,England Premier League,2009/2010,20,1.697368,1.073684,1.471053,2.771053,2
6,France,France Ligue 1,2009/2010,20,1.389474,1.021053,1.294737,2.410526,0
7,Germany,Germany 1. Bundesliga,2009/2010,18,1.513072,1.316993,1.346405,2.830065,4
8,Italy,Italy Serie A,2009/2010,20,1.542105,1.068421,1.168421,2.610526,2
9,Spain,Spain LIGA BBVA,2009/2010,20,1.600000,1.113158,1.386842,2.713158,6
10,England,England Premier League,2010/2011,20,1.623684,1.173684,1.276316,2.797368,6
11,France,France Ligue 1,2010/2011,20,1.342105,1.000000,1.105263,2.342105,4
12,Germany,Germany 1. Bundesliga,2010/2011,18,1.647059,1.274510,1.490196,2.921569,4
13,Italy,Italy Serie A,2010/2011,20,1.431579,1.081579,1.213158,2.513158,0
14,Spain,Spain LIGA BBVA,2010/2011,20,1.636842,1.105263,1.473684,2.742105,8
15,England,England Premier League,2011/2012,20,1.589474,1.215789,1.442105,2.805263,2
16,France,France Ligue 1,2011/2012,20,1.473684,1.042105,1.184211,2.515789,0
17,Germany,Germany 1. Bundesliga,2011/2012,18,1.660131,1.199346,1.480392,2.859477,6
18,Italy,Italy Serie A,2011/2012,20,1.511173,1.072626,1.276536,2.583799,8
19,Spain,Spain LIGA BBVA,2011/2012,20,1.678947,1.084211,1.473684,2.763158,0
20,England,England Premier League,2012/2013,20,1.557895,1.239474,1.250000,2.797368,0
21,France,France Ligue 1,2012/2013,20,1.468421,1.076316,1.239474,2.544737,2
22,Germany,Germany 1. Bundesliga,2012/2013,18,1.591503,1.343137,1.431373,2.934641,4
23,Italy,Italy Serie A,2012/2013,20,1.494737,1.144737,1.313158,2.639474,0
24,Spain,Spain LIGA BBVA,2012/2013,20,1.686842,1.184211,1.428947,2.871053,6
25,England,England Premier League,2013/2014,20,1.573684,1.194737,1.515789,2.768421,2
26,France,France Ligue 1,2013/2014,20,1.415789,1.039474,1.223684,2.455263,0
27,Germany,Germany 1. Bundesliga,2013/2014,18,1.748366,1.411765,1.598039,3.160131,6
28,Italy,Italy Serie A,2013/2014,20,1.536842,1.186842,1.350000,2.723684,4
29,Spain,Spain LIGA BBVA,2013/2014,20,1.631579,1.118421,1.497368,2.750000,4
30,England,England Premier League,2014/2015,20,1.473684,1.092105,1.292105,2.565789,4
31,France,France Ligue 1,2014/2015,20,1.410526,1.081579,1.313158,2.492105,4
32,Germany,Germany 1. Bundesliga,2014/2015,18,1.588235,1.166667,1.343137,2.754902,4
33,Italy,Italy Serie A,2014/2015,20,1.498681,1.187335,1.187335,2.686016,0
34,Spain,Spain LIGA BBVA,2014/2015,20,1.536842,1.118421,1.481579,2.655263,2
35,England,England Premier League,2015/2016,20,1.492105,1.207895,1.289474,2.700000,0
36,France,France Ligue 1,2015/2016,20,1.436842,1.089474,1.331579,2.526316,4
37,Germany,Germany 1. Bundesliga,2015/2016,18,1.565359,1.264706,1.457516,2.830065,10
38,Italy,Italy Serie A,2015/2016,20,1.471053,1.105263,1.302632,2.576316,2
39,Spain,Spain LIGA BBVA,2015/2016,20,1.618421,1.126316,1.502632,2.744737,2

In [505]:
print('goal sum without grouping')
print(pd.read_sql("""
SELECT Country.name, League.name,
  (home_team_goal + home_team_goal) AS goal_sum
  FROM Country 
    INNER JOIN League 
        ON Country.id = League.country_id 
        INNER JOIN Match ON League.id = Match.league_id
    WHERE Country.name='Spain' OR Country.name='Germany' OR
    Country.name='France' OR Country.name='Italy' OR Country.name='England' 
    ;
""", conn1))

goal sum without grouping
          name                    name  goal_sum
0      England  England Premier League         2
1      England  England Premier League         2
2      England  England Premier League         0
3      England  England Premier League         4
4      England  England Premier League         8
...        ...                     ...       ...
14580    Spain         Spain LIGA BBVA         4
14581    Spain         Spain LIGA BBVA         4
14582    Spain         Spain LIGA BBVA         6
14583    Spain         Spain LIGA BBVA         2
14584    Spain         Spain LIGA BBVA         6

[14585 rows x 3 columns]